Webdav backend incompatible with golang stdlib webdav implementation

I think I found conflict between how the seedvault implementation expects directories to work and how golang handles it:

In this function, you test that directories exist using the HEAD function:
https://github.com/seedvault-app/seedvault/blob/156ffbd8bc7d8e9f35472454fb00cb6c0a167aee/core/src/main/java/org/calyxos/seedvault/core/backends/webdav/WebDavHelper.kt#L84-L103

golang doesn't support HEAD requests on directory listings:
https://github.com/golang/net/blob/dfc720dfe0cfc125116068c20efcdcb5e4eab464/webdav/webdav.go#L212

I checked the RFCs [RFC4918](http://www.webdav.org/specs/rfc4918.html#rfc.section.9.4) and [RFC2068](https://datatracker.ietf.org/doc/html/rfc2068#section-9.4) but couldn't find any defintive answer how this should be handled. But there isn't really an answer to this, beyond "Treat GET and HEAD identical". The overall internet also seems undecided how to handle directory requests in webdav. ([Here one of the samples I found](https://stackoverflow.com/a/24338433)).

I think the correct way to check for directories would be the usage of `PROPFIND` with a depth of 0. That would certainly be in line with the [RFC4918 section 9.1](http://www.webdav.org/specs/rfc4918.html#rfc.section.9.1).

This is an upstream issue for downstream issue https://github.com/GrapheneOS/os-issue-tracker/issues/4558